html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#editor-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editor-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75vw;
    padding: 5px;
    background-color : #171717;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

iframe {
    padding: 5px;
    width: 75vw;
    height: 80vh;
    box-shadow: 5px 5px 10px 5px lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button,
select {
    background-color: #FAFAFA;
    border: none;
    color: #171717;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover,
select:hover {
    cursor: pointer;
    background-color: #ccccff;
}

@media(max-width:1300px) {
    #editor-header {
        width: 70vw;
    }
    iframe {
        width: 70vw;
    }
}

@media(max-width:960px) {
    #editor-header {
        width: 80vw;
    }
    iframe {
        width: 80vw;
    }
}